<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net48" />
  <package id="DecoratorAddin.Fody" version="1.0.0.80" targetFramework="net48" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net452" />
  <package id="Fody" version="4.2.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="NetDocuments.Client.COM" version="2.7.0.326" targetFramework="net452" />
  <package id="NetDocuments.Rest" version="2.7.0.14129" targetFramework="net48" />
  <package id="NetDocuments.Rest.ContentServerHandler" version="1.0.3.246" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="System.DirectoryServices" version="4.5.0" targetFramework="net452" />
  <package id="System.DirectoryServices.AccountManagement" version="4.5.0" targetFramework="net452" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="Unity" version="5.11.3" targetFramework="net48" />
</packages>